@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --azul: #029AE4;
    --laranja: #DBA306;
    --amarelo: #DBD352;
    --vermelho: #DC4C01;

    --padrao: Arial, Helvetica, sans-serif;
    --destaque: 'Bebas Neue', cursive;
}